$zimablue: #16b8f3;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: linear-gradient(
    to bottom,
    rgba(197, 222, 234, 1) 0%,
    rgba(138, 187, 215, 1) 31%,
    rgba(6, 109, 171, 1) 100%
  );
  height: 100%;
  text-align: center;
  padding-left: 6rem;
  padding-right: 6rem;
}

ul {
  list-style: none;
  padding: 0;
}

div {
  color: $zimablue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  width: fit-content;
  padding: 1rem;
  background: linear-gradient(
    to bottom,
    #fcecfc 0%,
    #fba6e1 50%,
    #fd89d7 51%,
    #ff7cd8 100%
  );
  border: 3px solid $zimablue;
  border-radius: 20px;
  box-shadow: 0 10px 13px -7px rgba(0, 0, 0, 0.4), 0 0 5px 2px transparent;
  margin: 0 auto;
  margin-bottom: 1rem;
}

button {
  margin: 0 auto;
  color: $zimablue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  border: 2px solid $zimablue;
  background: linear-gradient(
    to bottom,
    #bfd255 0%,
    #8eb92a 50%,
    #72aa00 51%,
    #9ecb2d 100%
  );
  border-radius: 20px;
  box-shadow: 0 10px 13px -7px rgba(0, 0, 0, 0.4), 0 0 5px 2px transparent;
  cursor: pointer;
  top: -50px;
  left: -35px;
  display: block;
  z-index: 999;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  &:hover {
    transform: scale(1.03);
    background: $zimablue;
    color: black;
    border: #ea5507 2px solid;
  }
}

@keyframes colorChange {
  0% {
    color: red;
  }
  16.67% {
    color: orange;
  }
  33.33% {
    color: yellow;
  }
  50% {
    color: green;
  }
  66.67% {
    color: blue;
  }
  83.33% {
    color: purple;
  }
  100% {
    color: red;
  }
}

/* Apply the animation to all h1 elements */
h1,
h2,
h3 {
  animation: colorChange 6s linear infinite;
}

img {
  opacity: 1;
  cursor: pointer;
}

/* Define the hover state to reveal the image */
img:hover {
  opacity: 0.8;
}

input {
  color: $zimablue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  /* Reset the border */
  border: $zimablue solid 2px;
  border-radius: 20px;

  /* Reset padding */
  padding: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0.5rem;
  background: linear-gradient(
    to bottom,
    #feccb1 0%,
    #f17432 50%,
    #ea5507 51%,
    #fb955e 100%
  );

  box-shadow: 0 10px 13px -7px rgba(0, 0, 0, 0.4), 0 0 5px 2px transparent;

  /* Reset font styles */
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;

  /* Ensure text is centered vertically */
  vertical-align: middle;

  /* Remove outline on focus (may not be recommended for accessibility) */
  outline: none;

  /* Set a white background to make text visible if necessary */
  background-color: white;

  /* Set a reasonable height to accommodate text */
  height: 1.5em;
}

input:focus {
  background: linear-gradient(
    to bottom,
    #feede3 0%,
    #fcbb98 50%,
    #933808 51%,
    #b3856d 100%
  ); /* Change this to your desired background color */
  /* You can also add other styles for the focused state here */
  border: 2px solid $zimablue; /* Example: Adding a border when focused */
  color: white;
}

.search_results_container {
  background: linear-gradient(
    to bottom,
    #bfd255 0%,
    #8eb92a 50%,
    #72aa00 51%,
    #9ecb2d 100%
  );
}

.search_results_container {
  display: flex;
  flex-direction: column;
}

.search-mini {
  background: linear-gradient(
    to bottom,
    #feccb1 0%,
    #f17432 50%,
    #ea5507 51%,
    #fb955e 100%
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image_container {
  flex: 0 0 calc(50% - 1rem); /* 50% width with spacing */
  margin-bottom: 1rem;
  background: transparent;
  box-sizing: border-box;
  border: 3px solid $zimablue;
  border-radius: 20px;
  box-shadow: 0 10px 13px -7px rgba(0, 0, 0, 0.4), 0 0 5px 2px transparent;
  text-align: center;
}

.image_container h3 {
  /* Style for the title, if needed */
}

.image_container img {
  opacity: 1;
  cursor: pointer;
  max-width: 100%; /* Ensure images don't exceed the container width */
}